.shop {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 30px;
    height: 100%;
    width: 100%;
}

.shop h1 {
    font-size: 2rem;
}

.shop_products {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 75px;

    padding: 35px 0;
    height: 100%;
    width: 100%;
}
