.shop_card_card {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: auto;
  max-width: 100%;
}

.shop_card a {
  color: #000;
  text-decoration: none;
}

.shop_card_image {
  width: 300px;
  height: 330px;
  object-fit: cover;
}

.shop_card_information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  width: 100%;
}

.shop_card_name:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 500px) {
  .shop_card_image {
    width: 400px;
    height: 430px;
  }
}
