.checkout_button {
    background-color: var(--blueBlack);
    border: 2px solid var(--blueBlack);
    border-radius: 5px;
    color: var(--white);
    cursor: pointer;
    font-size: 20px;
    padding: 6px 30px;
    transition: 0.3s;
  }
  
  .checkout_button:hover {
    background-color: var(--white);
    color: var(--blueBlack);
  }