.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    
    padding: 30px;
    height: 100%;
    width: 100%;
}

.product_image {
    display: flex;
    justify-content: center;

    height: auto;
    width: 100%;
}

.product_image img {
    object-fit: cover;
    height: 150px;
    width: 100%;
}

.product_information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 100%;
    width: 100%;
}

.product_information_top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    height: 100%;
    width: 100%;
}

.product_details {
    display: flex;
    flex-direction: column;
    gap: 10px;

    height: auto;
    width: 100%;
}

.product_information_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    height: auto;
    width: 100%;
}

@media only screen and (min-width: 525px) {
    .product {
        flex-direction: row;
    }

    .product_image {
        height: 100%;
        width: 100%;
        max-width: 380px;
    }

    .product_image img {
        height: 100%;
    }
  }