.button {
    color: #000;
}

.welcome_button {
    background-color: var(--blueBlack);
    border: 2px solid var(--blueBlack);
    border-radius: 5px;
    color: var(--white);
    cursor: pointer;
    font-size: 1.3rem;
    padding: 3px 10px;
    transition: 0.3s;
}

.welcome_button:hover {
    background-color: var(--white);
    color: var(--blueBlack);
}