.addToCartButton button {
  background-color: black;
  border: 2px solid black;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  padding: 8px 30px;
  transition: 0.3s;
}

.addToCartButton button:hover {
  background-color: white;
  color: black;
}
