.backButton {
  background-color: var(--white);
  border: 2px solid var(--black);
  border-radius: 5px;
  color: var(--black);
  cursor: pointer;
  font-size: 14px;
  padding: 3px 10px;
  transition: 0.3s;
}

.backButton:hover {
  background-color: var(--black);
  color: var(--white);
}

.cartButton {
  background-color: var(--black);
  border: 2px solid var(--black);
  border-radius: 5px;
  color: var(--white);
  cursor: pointer;
  font-size: 14px;
  padding: 3px 10px;
  transition: 0.3s;
}

.cartButton:hover {
  background-color: var(--white);
  color: var(--black);
}

@media only screen and (max-width: 760px) {
  .backButton {
    font-size: 13px;
    padding: 2px 8px;
  }

  .cartButton {
    font-size: 13px;
    padding: 2px 8px;
  }
}
