.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;

  margin-top: 50px;
  height: 100%;
  width: 100%;
}

.cartTable {
  border-spacing: 0;
  padding: 10px 20px;
  text-align: center;
  width: 60%;
}

.cartTable thead tr th,
.cartCard td {
  border-bottom: 1px solid black;
}

.cartCard td {
  padding-top: 10px;
}
