* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Mate SC', serif;
  height: 100vh;
  max-width: 100vw;
}

button {
  font-family: inherit;
}

#root {
  --black: #1e212d;
  --darkBlue: #126e82;
  --blue: #51c4d3;
  --white: #f4f9f9;
  height: 100%;
  width: 100%;
}
