nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: var(--black);
  color: var(--white);
  min-height: 50px;
  width: 100%;
  padding: 0 20px;
}

.navLink {
  color: var(--white);
  text-decoration: none;
}

#navLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;

  font-size: 22px;
  list-style: none;
}

#navLinks li:hover {
  cursor: pointer;
  text-decoration: underline;
}
