.productDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 50%;
}

.productDetailsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;

  height: 100%;
  width: 100%;
}

.leftDetailsContainer,
.rightDetailsContainer {
  height: 80%;
  width: 100%;
}

.leftDetailsContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
