.productCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding-bottom: 25px;
  height: 500px;
  width: 400px;
}

.productImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  width: 100%;
}
