.shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 100%;
  width: 100%;
}

.shopTitle {
  font-size: 40px;
  margin: 30px 0;
}

.products {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 60px;

  padding: 0 15px;
  margin-bottom: 30px;
  height: 100%;
  width: 100%;
}
